{% assign posts = site.posts | where_exp: "post", "post.hidden != true" | where_exp: "post", "post.tags & page.tags" | sort: "date" | reverse %}
<div class="page__related">
  {% include before-related.html %}
  <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
  <div class="grid__wrapper">
    {% for post in related_posts %}
      {% if post.id == page.id %}{% continue %}{% endif %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>
