{% assign posts = include.posts | where_exp: "post", "post.hidden != true" %}
{% assign related_posts = "" %}
{% for post in posts %}
  {% if post.id != page.id %}
    {% assign intersect = post.tags | intersection: page.tags %}
    {% if intersect.size > 0 %}
      {% assign related_posts = related_posts | append: post.url | append: "," %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign related_posts_array = related_posts | split: "," | uniq %}
<div class="page__related">
  {% include before-related.html %}
  <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
  <div class="grid__wrapper">
    {% for url in related_posts_array limit:4 %}
      {% assign post = site.posts | where: "url", url | first %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>

