#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it stays behind other content */
}
.site-header {
  position: relative;
  overflow: hidden; /* Ensure particles don't overflow */
}

.page__footer .social-icons i,
.page__footer .social-icons .svg-inline--fa {
  color: #ffffff; /* Set the color to white */
}

.footer-image { height: 1em;
  width: auto;
z-index:-1;
}
