#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it stays behind other content */
}
.site-header {
  position: relative;
  overflow: hidden; /* Ensure particles don't overflow */
}

.footer-logo img {
    height: 95%;
    position: relative;
    bottom: 0;
    right: 0;
}
