---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.post-content-thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}

.parent-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  border: 2px solid #000; /* Optional: Add a border */
  padding: 10px; /* Optional: Add padding */
  height: 100%; /* Ensure the parent container has a height */
}

.post-thumbnail {
  max-width: 300px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 15px; /* Space between content and thumbnail */
  display: block; /* Ensure the thumbnail is a block element */
}

.post-content {
  flex-grow: 1;
}

.post-meta {
  font-size: 0.7em;
  color: #666;
}

