---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.post-content-thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px; /* Adjust the space between posts */
}

.post-thumbnail {
  max-width: 300px; /* Adjust the size as needed */
  height: auto;
  margin-left: 15px; /* Space between content and thumbnail */
  float: right;
}

.post-content {
  flex-grow: 1;
}

.post-meta {
  font-size: 0.7em;
  color: #666;
}

