---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.post-header-thumbnail {
  display: flex;
  align-items: center;
}

.post-thumbnail {
  max-width: 100px; /* Adjust the size as needed */
  margin-right: 15px; /* Space between thumbnail and title */
}

.post-header-thumbnail h2 {
  margin: 0;
}
