---
layout: archive
---

<h1>Card Flip with Text</h1>
<h3>Hover over the images below:</h3>

<div class="card-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/card_doe_back.png" style="width:305px;height:442.4px;">
      </div>
      <div class="flip-card-back">
        <img src="/assets/card_doe_front.png" style="width:305px;height:442.4px;">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/card_net_back.png" style="width:305px;height:442.4px;">
      </div>
      <div class="flip-card-back">
        <img src="/assets/card_doe_front.png" style="width:305px;height:442.4px;">
        <h1>Jane Doe</h1>
        <p>Designer & Developer</p>
        <p>We admire her work</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/card_py_back.png" style="width:305px;height:442.4px;">
      </div>
      <div class="flip-card-back">
        <img src="/assets/card_py_front.png" style="width:305px;height:442.4px;">
        <h1>Alex Smith</h1>
        <p>Artist & Teacher</p>
        <p>Inspires creativity</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/card_diary_back.png" style="width:305px;height:442.4px;">
      </div>
      <div class="flip-card-back">
        <img src="/assets/card_diary_front.png" style="width:305px;height:442.4px;">
        <h1>Emily Johnson</h1>
        <p>Writer & Poet</p>
        <p>We cherish her words</p>
      </div>
    </div>
  </div>
</div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in paginator.posts %}
  <article class="post">
    <div class="post-content-thumbnail">
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" alt="Thumbnail for {{ post.title }}" class="post-thumbnail">
      {% endif %}
      <div class="post-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-meta">
          <i class="fa fa-calendar"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </p>  
        {% if post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
      </div>
    </div>
  </article>
{% endfor %}






{% include paginator.html %}
